APP_ENCRYPTION_KEY=generate-a-random-32-byte-secret
SETUP_TOKEN=generate-a-different-one-time-secret
ADMIN_GITHUB_LOGIN=zorosure
GITHUB_REPOSITORY=zorosure/deepstack-blog
PUBLIC_BLOG_URL=https://zorosure.github.io/deepstack-blog/
